@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
}

.container,
.container-hero,
.container-footer {
  box-sizing: border-box;
  max-width: 1219px;
  padding-left: 55px;
  padding-right: 54px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: #007765;
  position: sticky;
  top: 0;
  padding-top: 8px;
  padding-bottom: 19px;
}

header img {
  float: left;
  text-align: left;
}
header nav {
  text-align: right;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding-left: 4px;
  padding-right: 4px;
}

.jumbotron {
  background-image: url(image/jumbotron.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 160px 0px 160px;
}

.problem {
  background: #eeeeee;
  padding-top: 48px;
  padding-bottom: 92px;
}
.problem p {
  color: #000000;
  text-align: justify;
  padding: 15px 10px 15px 0px;
}
.problem span {
  font-weight: 900;
}

.hero {
  background-image: url(image/hero.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 128px;
  padding-bottom: 127px;
}
.hero p {
  font-style: italic;
  font-size: 48px;
  line-height: 56px;
}
.container-hero {
  padding: 0px 163px;
}

.introducing_ppc {
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 92px;
}
.introducing_ppc img {
  float: left;
  padding-right: 48px;
  padding-bottom: 20px;
}
.introducing_ppc p {
  color: #000000;
  padding: 15px 35px 15px 0px;
  text-align: justify;
}
.introducing_ppc span {
  font-style: italic;
}

.team {
  background: #eeeeee;
  padding-top: 48px;
  padding-bottom: 79px;
}
figure {
  margin: 15px;
  padding: 24px 0px 28px;
  display: inline-block;
}
figure img {
  width: 168px;
  padding: 0px 84px;
}
figcaption h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
  padding-top: 12px;
  margin: 0;
}
figcaption p {
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-top: 4px;
  margin: 0;
}

footer {
  background: #333333;
  padding-top: 48px;
  padding-bottom: 64px;
}
footer p {
  font-size: 18px;
  line-height: 21px;
}
.container-footer {
  padding-left: 340px;
  padding-right: 339px;
}
h1 {
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
}
h2 {
  font-size: 64px;
  line-height: 75px;
  color: #007765;
}
p {
  font-size: 32px;
  line-height: 37px;
}
